{% extends "./layout.html" %}

{% block body %}
<table width="100%">
    <tr>
        <th>cageNo.</th>
        <th>allele1</th>
        <th>allele2</th>
        <th>transgenic</th>
        <th>dob</th>
    </tr>
{% for mouse in mice %}
    <tr>
        <td>{{ loop.index0 }}</td>
        <td>{{ mouse.gene1 }}</td>
        <td>{{ mouse.gene2 }}</td>
        <td>{{ mouse.othergene }}</td>
        <td>{{ mouse.dob }}</td>
        <td>
            <form action="{{ url_for('delete', id = mouse.id) }}", method = "POST">
                <button type="submit" class="btn btn-danger" style="margin-left:5px">Delete</button>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/png, image/jpeg">
    <button type="submit">送信</button>
</form>
<form method="POST" action="/create" style="display: inline">
    <input type="text" name = "gene1" placeholder="gene1" value = "+">
    <input type="text" name = "gene2" placeholder="gene2" value = "+">
    <input type="text" name = "othergene" placeholder="othergene">
    <input type="date" name = "dob" placeholder="dob" value = {{ today }}>
    <input type="submit" value="送信">
</form>
{% if img_name %}
<div>
    <p>{{img_name}}</p>
    <img src="{{ url_for('static', filename='images/' + img_name) }}" style="margin-top: 10px; vertical-align: bottom; width: 400px;">
</div>
{% endif %}
{% endblock %}