{% extends "./layout.html" %}

{% block body %}
<table width="100%">
    <tr>
        <th>cageNo.</th>
        <th>allele1</th>
        <th>allele2</th>
        <th>transgenic</th>
        <th>dob</th>
    </tr>
{% for mouse in mice %}
    <tr>
        <td>{{ loop.index0 }}</td>
        <td>{{ mouse.gene1 }}</td>
        <td>{{ mouse.gene2 }}</td>
        <td>{{ mouse.othergene }}</td>
        <td>{{ mouse.dob }}</td>
    </tr>
{% endfor %}
</table>
<form method="POST" action="/create" style="display: inline">
    <input type="text" name = "gene1" placeholder="gene1">
    <input type="text" name = "gene2" placeholder="gene2">
    <input type="text" name = "othergene" placeholder="othergene">
    <input type="date" name = "dob" placeholder="dob">
    <input type="submit" value="送信">
</form>
{% endblock %}